body {
  margin: 0;
  background-color:white;
}

.title-pic{
  padding: 6em 0;
  background-image: url(./vapewave.jpg) ;
  background-size: cover;
  background-repeat: no-repeat;
  border-top: solid 1em #FFD447;
  border-bottom: solid 5px #4C1C00;
}
.top-text{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: black;
}
.name{
  color: #320D6D;
  margin-top: -.2em;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 4em;
}

.intro{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: .5em;
}

.who{
  padding-top: 2em;
  font-weight: bold;
  font-size: x-large;
  text-decoration: underline;
}

.questions{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  
}

.footer{
  margin: 40 px 0;
  padding: 20px;
  text-align: center;
  background-color: #320D6D;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #FFD447;
  font-size: 2em;
}
.media > li {
  display: inline-block;
  margin: 0 5px;
}

.links{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: medium;
}






@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}